{% extends "core/snippets/base.html" %}
{% load static %}
{% block jscss %}
<link rel='stylesheet' href="{% static 'css/product.css' %}">
{% endblock %}

{% block body %}
<section class="mt-5 pt-2">
    {% include 'core/snippets/header.html' %}
    <div class="container-fluid bg shadow-sm p-3">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <div>
                    <div class="projectname">
                        Product Recommendation System
                    </div>
                    <div  class="d-flex justify-content-start">
                        <div class="tags">
                            Web Scraping
                        </div>
                        <div class="tags">
                           Python
                        </div>
                        <div class="tags">
                            Pandas
                         </div>
                         <div class="tags">
                            Machine Learning
                         </div>
                    </div>
                </div>
                <div>
                    <div class="btn-group border rounded" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-sm ">
                            <span><i class="fa fa-thumbs-o-up"></i></span>
                        </button>
                        
                        <button type="button" class="btn btn-sm disabled">7</button>
                      </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                {% block inbox %}

                {% endblock %}
            </div>
        </div>
    </div>
 
</section>
{% endblock %}